
            <div class="player_one">
        <div class="card">
          <div class="item">
            <h1>{{fp}}</h1>
          </div>
        </div>
        <h3>{{poname}}</h3>
    </div>
      </head>
    
      
    <div class="player_two">
        <div class="card">
          <div class="item">
            <h1>{{sp}}</h1>
          </div>
        </div>
        <h3>{{ptname}}</h3>
    </div>
      
      <h5>{{tablename}}</h5>
      
<div class="tabs tabs-icon-top">
  <a class="tab-item"  href="index.html">
    <i class="icon ion-home"></i>
    Home
  </a>
  <a class="tab-item" href="play.html">
    <i class="icon ion-play"></i>
    Play
  </a>
  <a class="tab-item" href="settings.html">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>
    <a class="tab-item" href="stats.html">
    <i class="icon ion-stats-bars"></i>
        Statistics
    </a>
</div>
     