   <h1 class="sets">Game settings</h1>
          
<div class="list">
  <h4>Player1: </h4>
  <label class="item item-input">
    <input type="text" placeholder="P1 Name">
  </label>
</br>
<h4>Player2: </h4>
<label class="item item-input">
    <input type="text" placeholder="P2 Name">
  </label>
</br>
<h4>Table: <h4>
    <label class="item item-input">
    <input type="text" placeholder="T Name">
  </label>
</div>
          

<div class="tabs tabs-icon-top">
  <a class="tab-item"  href="index.html">
    <i class="icon ion-home"></i>
    Home
  </a>
  <a class="tab-item" href="play.html">
    <i class="icon ion-play"></i>
    Play
  </a>
  <a class="tab-item" href="settings.html">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>
    <a class="tab-item" href="stats.html">
    <i class="icon ion-stats-bars"></i>
        Statistics
    </a>
</div>
      