<h2 class="heder">smart table</h2>
<hr>

<h4 class="infot"><b>Our Project</b></h4>
<p class="info">
  We present a device which makes your <b>ping-pong table smart.</b> From now on score as well as other statistics will be calculated and provided automatically. All you need to do, is attaching our gadget to your table!
</p>

<hr>

<h4 class="infot"><b>Location</b></h4>
<p class="info">
  This project started in <a href="http://www.santakosslenis.lt/en/"> Santaka Valley, Kaunas, Lithuania.</a>
</p>
<hr>
<h4 class="membersTitle"><b>Team</b></h4>
<div class="members">
  <p>
    Markas Černiauskas: <span class="mail">MarkasCerniauskas@gmail.com</span><br>
    Arnas Puidokas: <span class="mail">puidokasarnas11@gmail.com</span><br>
    Simonas Gildutis: <span class="mail">simonasgildutis@gmail.com</span><br>
    Danius Kalvaitis: <span class="mail">Danius.Kalvaitis@gmail.com</span><br>
    Vilius Kraujutis: <span class="mail">Vilius.K@gmail.com</span><br>
    Gvidas Sidlauskas: <span class="mail">gvidasdj2@yahoo.co.uk</span><br>
  </p>
  See news in <a href="https://www.facebook.com/events/1681078282158646/">facebook</a>!
</div>