<ion-content>
    <div class="tabs tabs-icon-top">
      <a class="tab-item"  ui-sref="main.home">
        <i class="icon ion-home"></i>
        Home
      </a>
      <a class="tab-item" ui-sref="main.play">
        <i class="icon ion-information-circled"></i>
        Info
      </a>
      <a class="tab-item" ui-sref="main.settings">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
        <a class="tab-item" ui-sref="main.stats">
        <i class="icon ion-stats-bars"></i>
            Statistics
        </a>
    </div>



<header>
<h1 class="claims">Unclaimed</h1>
</header>
<hr>
                <ion-list show-delete="false" can-swipe="true">
                    <ion-item href="#">
                        <div class="res">
                        Score - 10:11,
                         vs CinChi,
                        Time - 12:54
                        <ion-option-button class="button-balanced icon ion-checkmark-round"></ion-option-button>
                        </div>
                    </ion-item>
                    <ion-item href="#">
                        <div class="res">
                        Score - 2:11,
                         vs Kikilis,
                        Time - 14:23

                        <ion-option-button class="button-balanced icon ion-checkmark-round"></ion-option-button>
                        </div>
                    </ion-item>
                    <ion-item href="#">
                        <div class="res">
                        Score - 11:6,
                         vs Jaunis,
                        Time - 19:30

                        <ion-option-button class="button-balanced icon ion-checkmark-round"></ion-option-button>
                        </div>
                    </ion-item>

                </ion-list>
<header>
<h1 class="claims">Last Claimed Games</h1>
</header>
<hr>
<ion-item href="#">
                        <div class="res">
                        Score - 1:11,
                         vs Nick,
                        Time - 18:12
                        </div>
                    </ion-item>
<ion-item href="#">
                        <div class="res">
                        Score - 11:2,
                         vs John,
                        Time - 19:10
                        </div>
                    </ion-item>
<ion-item href="#">
                        <div class="res">
                        Score - 5:11,
                         vs Nickol,
                        Time - 12:30
                        </div>
                    </ion-item>
</ion-content>