
<ion-content>
<header>
<h1 class="claims">Unclaimed</h1>
</header>
<hr>
<ion-list class='unclaimed' show-delete="false" can-swipe="true">
    <ion-item ng-repeat="game in unclaimedGames | limitTo:3">
        <div class="res">
            <span>
                {{ game.challenger_score }}:{{ game.challenged_score }}
            </span>
            <span style="float: right">
                Time - {{ game.time }}
            </span>
            <ion-option-button class="button-balanced icon ion-checkmark-round" ng-click="selectChallengedUser(game)"></ion-option-button>
        </div>
    </ion-item>
    <input ion-autocomplete="" type="text" readonly="readonly" autocomplete="off" external-model="users" item-value-key="id" item-view-value-key="name" ng-model="activeGame.challenged_id" items-method="getUsers(query)" class="ion-autocomplete" placeholder="User name" manage-externally="true" max-selected-items="1" select-items-label="Choose your opponent" ng-model-options="{ debounce: 300 }" items-clicked-method="claimGame(callback)"/>
</ion-list>
<header>
<h1 class="claims">Last Claimed Games</h1>
</header>
<hr>
<ion-item href="#" ng-repeat="game in claimedGames | limitTo:3">
    <div class="res">
        <span>
            {{ game.challenger.name }} - {{ game.challenged.name }}, {{ game.challenger_score }}:{{ game.challenged_score }}
        </span>
        <span style="float: right">
            Time - {{ game.time }}
        </span>
    </div>
</ion-item>
</ion-content>
