
<div class="elo">
    <p class="statsText" ng-show="currentUser.position">Your rating is {{ currentUser.coefficient }}</p>
    <p class="statsText" ng-show="currentUser.position">You're #{{ currentUser.position }} rated player worldwide.</p>
    <p class="statsText" ng-hide="currentUser.position">You're not rated yet, you still need to play at least {{ 6 - currentUser.total_games }} games.</p>
</div>

<ol class="leaderboard">
    <li ng-repeat="user in users | limitTo:7"><p class="user">{{ $index + 1 }}. {{ user.name }}. {{ user.coefficient }}</p></li>
    <li><p class="user">...</p></li>
</ol>

<div class="wl">
  <div class="card">
    <div class="item item-text-wrap">
      <h1 class="w">{{ currentUser.total_wins }} wins</h1>
    </div>
  </div>

  <div class="card">
    <div class="item item-text-wrap">
      <h1 class="l">{{ currentUser.total_losses }} losses</h1>
    </div>
  </div>

  <!-- <div class="card">
    <div class="item item-text-wrap">
      <h1 class="avg">Average opponents' rating: 1482</h1>
    </div>
  </div> -->

</div>
