<div class="elo">
    <p class="statsText">Your rating is 2415. You're #14 rated player worldwide.</p>
</div>

<ol class="leaderboard">
    <li><p class="user">1. Johnie. 2872</p></li>
    <li><p class="user">2. Johnie. 2872</p></li>
    <li><p class="user">3. Johnie. 2872</p></li>
    <li><p class="user">4. Johnie. 2872</p></li>
    <li><p class="user">5. Johnie. 2872</p></li>
    <li><p class="user">6. Johnie. 2872</p></li>
    <li><p class="user">7. Johnie. 2872</p></li>
    <li><p class="user">...</p></li>
    <li><p class="user">56. Johnie. 2872</p></li>
    <li><p class="user">57. Johnie. 2872</p></li>
    <li><p class="user">58. Johnie. 2872</p></li>
    <li><p class="user">...</p></li>
</ol>

<div class="wl">
  <div class="card">
    <div class="item item-text-wrap">
      <h1 class="w">4 wins</h1>
    </div>
  </div>
    
  <div class="card">
    <div class="item item-text-wrap">
      <h1 class="l">31 loses</h1>
    </div>
  </div>
    
  <div class="card">
    <div class="item item-text-wrap">
      <h1 class="avg">Average opponents' rating: 1482</h1>
    </div>
  </div>
    
</div>